<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p>Esta App es un To Do List, aquí puedes hacer notas de tareas a 
        realizar y estas las verás en base al usuario que creaste en la
        aplicación, puedes crear notas, modificarlas, consultarlas y eliminarlas.
    </p>
    <p class="lead">Espero puedas disfrutar de la aplicación, testeala y comprueba que 
        las funcionalidades están realizadas con exelente calidad en su ejecución, sientete 
        libre de crear todas las notas que desees!!!.
    </p>
    <p>Por si te interesa este es mi sitio de ventas de artículos usados:</p>
    <a href="/index" class="btn btn-primary btn-lg">Super Notas</a>
</div>
